.checoutModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c0;
    z-index: 10;
    cursor: auto;
}

.checkout {
    width: 60%;
    height: 90%;
    min-width: 600px;
    margin: 2rem auto;
    background-color: #eee;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(61, 176, 243, 0.027);
    cursor: auto;
    z-index: 15;
    overflow-y: auto;
}

.close-btn {
    color: var(--main-color);
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.checkout .header {
    display: flex;
    background-color: rgb(211, 211, 211);
    padding: 10px 20px;
    justify-content: space-between;
    height: 6vh;
    margin-bottom: 15px;
    border-radius: 5px;
}

.titleContainer {
    width: 80vw;
    text-align: center;
}

.formContainer {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    background-color:aliceblue;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px gray;
}

.columnHeader {
    display: flex;
    padding: 10px 20px;
    justify-content: start;
    height: 6vh;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

.info1 {
    margin-left: 30px;
}

.inputsContainer {
    width: 100%;
    margin-left: 20px;
}

.inputs{
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 1px 3px 0px black;
    height: 35px;
}

label {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
}

.inputHeader {
    text-align: center;
}

::placeholder {
    color: gray;
    text-align: center;
}