.checoutModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c0;
    z-index: 10;
    cursor: auto;
}

.checkout {
    width: 60%;
    height: 90%;
    min-width: 600px;
    margin: 2rem auto;
    background-color: #eee;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(61, 176, 243, 0.027);
    cursor: auto;
    z-index: 15;
    overflow-y: auto;
}

.close-btn {
    color: var(--main-color);
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.checkout .header {
    display: flex;
    background-color: rgb(211, 211, 211);
    padding: 10px 20px;
    justify-content: space-between;
    height: 6vh;
    margin-bottom: 15px;
    border-radius: 5px;
}

.titleContainer {
    width: 80vw;
    text-align: center;
}

.formContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    background-color:aliceblue;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px gray;
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 35%;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px gray;
    height: 60%;
}

.columnHeader {
    display: flex;
    padding: 10px 20px;
    justify-content: start;
    height: 6vh;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

.personalInf {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

.info1 {
    margin-left: 30px;
}

.inputsContainer {
    width: 90%;
    align-self: center;
}

.inputs{
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 1px 3px 0px black;
    height: 35px;
}

label {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.label2 {
    margin-left: 40px;
}

.label3 {
    width: 100%;
}

.label4 {
    width: 30%;
}

.label5 {
    width: 30%;
    margin-left: 40px;
}

.inputHeader {
    text-align: center;
}

::placeholder {
    color: gray;
    text-align: center;
    font-size: 16px;
}

.rowInputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

select {
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px black;
    border: 0;
    text-align: center;
    height: 35px;
}

input {
    text-align: center;
    font-size: 16px;
}

.productCheckoutBox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.productCheckoutContent {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 16px;
    margin-top: 5px;
}

.productNameAndQ {
    display: flex;
    flex-direction: row;
    width: 60%;
    max-width: 75%;
}

.separator {
    width: 90%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.719);
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.totalCheckout {
    width: 85%;
    align-self: center;
    text-align: right;
}

.submitCheckout {
    margin-bottom: 20px;
    width: 50%;
    height: 10%;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 0px 4px 0px black;
    background-color: aliceblue;
}